<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" 
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" 
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         IgnorableNamespaces="uap uap4 mp rescap">
  <Identity Name="b12bc6ce-be37-44c5-b058-2b1cf98befd9" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="b12bc6ce-be37-44c5-b058-2b1cf98befd9" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ProView</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ProView.App">
      <uap:VisualElements DisplayName="ProView" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="ProView - Minimalist Image Viewer" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <!-- 图片文件关联 -->
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="image" DesiredView="default">
            <uap:DisplayName>ProView Image</uap:DisplayName>
            <uap:Logo>Assets\Square44x44Logo.png</uap:Logo>
            <uap:InfoTip>用 ProView 打开图片</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="image/jpeg" uap4:Kind="image">.jpg</uap:FileType>
              <uap:FileType ContentType="image/jpeg" uap4:Kind="image">.jpeg</uap:FileType>
              <uap:FileType ContentType="image/png" uap4:Kind="image">.png</uap:FileType>
              <uap:FileType ContentType="image/gif" uap4:Kind="image">.gif</uap:FileType>
              <uap:FileType ContentType="image/bmp" uap4:Kind="image">.bmp</uap:FileType>
              <uap:FileType ContentType="image/tiff" uap4:Kind="image">.tiff</uap:FileType>
              <uap:FileType ContentType="image/webp" uap4:Kind="image">.webp</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="broadFileSystemAccess" />
  </Capabilities>
</Package>